* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Podkova', serif;
}

.header {
  margin: 0;
  background-color: black;
}

.header-item {
  font-size: 20px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  padding: 0.5em;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4vh;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.footer-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.footer-links li {
  list-style: none;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 80%;
  margin: 1em auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-title {
  text-align: left;
  margin-bottom: 5em;
  width: 20%;
  color: #00d11f;
}

.content-container {
  margin-bottom: 5em;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-image {
  width: 50%;
  height: 100%;
}

.content-video {
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-top: 26%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.content-text {
  margin-right: 2em;
  width: 50%;
  height: 100%;
  font-size: 1.5em;
}

.content-text-full {
  margin: 1em 2em 1em 0;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
}

.technologies {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list-item {
  text-align: center;
  width: 50%;
}

.logo-image {
  font-size: 100px;
}

.logo-text-list {
  list-style: none;
}

.content-gallery {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-gallery img {
  width: 200px;
  height: 150px;
}

.logo-text-title {
  color: #00d11f;
  font-size: 110%;
}

.pageLink {
  text-decoration: none;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.pageLink:visited {
  color: #00d11f;
}

.pageLink:hover {
  color: #009917;
}

.gallery-image {
  position: relative;
  margin: 1em;
}

.gallery-image-text {
  position: absolute;
  text-align: center;
  color: white;
  top: 5%;
  left: 10%;
  text-shadow: 0px 2px black;
}
/*# sourceMappingURL=styles.css.map */