$--main-bg-color: white
$--side-bg-color: black
$--accent-color: rgb(0, 153, 23)
$--light-accent-color: rgb(0, 209, 31)
*
  margin: 0px
  padding: 0px
  box-sizing: border-box    
  font-family: 'Podkova', serif;
.header
  margin: 0
  background-color: $--side-bg-color
.header-item
    font-size: 20px
.nav-links 
  display: flex
  justify-content: space-around
  margin: auto
  padding: 0.5em
  li
    list-style: none
    text-decoration: none
    color: white
.footer
  display: flex
  justify-content: space-around
  align-items: center
  min-height: 4vh
  background-color: $--side-bg-color
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 1
.footer-links
  display: flex
  justify-content: space-around
  width: 80%
  a
    text-decoration: none
    letter-spacing: 3px
    font-weight: bold
    font-size: 30px
    color: white
  li
    list-style: none
.center
  display: flex
  height: 100%
  width: 80%
  margin: 1em auto
  flex-direction: column
.content-title
    text-align: left
    margin-bottom: 5em
    width: 20%
    color: $--light-accent-color
.content-container
    margin-bottom: 5em
    display: flex
    flex-direction: column
    &.title
      margin-bottom: 1em
.split 
  width: 50%
  margin-bottom: 0
.right
  margin-left: 2em
  &.border
    > .split-image
      > img
        border-left: 5px solid $--accent-color
.left
  margin-right: 2em
  &.border
    > .split-image
      > img
        border-right: 5px solid $--accent-color
.content
    display: flex
    justify-content: space-around
    flex-direction: row
    &.main
      margin-bottom: 1em
.content-image
    width: 50%
    height: 100%
.split-image
    width: 100%
    height: 80%
    > img
      height: 100%
      width: 100%
    > i
      heigth: 100%
      width: 100%
      font-size: 400px
.content-video
  position: relative
  overflow: hidden
  width: 50%
  padding-top: 26%
.iframe
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 100%
    height: 100%
.content-text
  height: 100%
  font-size: 1.5em
.content-text-full
  margin: 1em 2em 1em 0
  width: 100%
  height: 100%
  font-size: 1.5em
.technologies
    list-style: none
    display: flex
    justify-content: space-around
.list-item
    text-align: center
    width: 50%
.logo-image
    font-size: 100px
.logo-text-list
    list-style: none
.content-gallery
    margin: auto
    display: flex
    flex-wrap: wrap
    justify-content: center
    img
      width: 200px
      height: 150px
.logo-text-title
    color: $--light-accent-color
    font-size: 110%
.pageLink
    text-decoration: none
    position: relative
    color: $--side-bg-color
    display: inline-block
    padding: 0 1px
    transition: color 0.5s
    &:hover
        color: $--main-bg-color
.pageLink::after
  content: ''
  position: absolute
  z-index: -1
  width: 100%
  height: 5%
  left: 0
  bottom: -2px
  background-color: $--side-bg-color
  transition: height 0.5s
.pageLink:hover::after
  height: 100%
.gallery-image
  position: relative
  margin: 1em
.gallery-image-text
  position: absolute
  text-align: center
  color: white
  top: 5%
  left: 10%
  text-shadow: 0px 2px black
  &.black
    text-shadow: 0px 1px gray
    top: 8%
    color: black
        
